* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #ccc;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  background-color: #f1425d;
  padding: 30px;
  margin: 30px;
  color: #fff;
  font-size: 40px;
}

.item:nth-child(3) {
    height: 200px;
}
